

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size:  3vh;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
}
img{
    width: 5vh;
}


